.content {
    padding: 50px 75px;
    background-color: #f4f4f4;
    margin: 0 -12px;
    min-height: 100vh;
}
.heading {
    border-bottom:  2px solid $-color--light-grey;
}
.tool-body{


    background-color: #fff;
    box-shadow: 0 0 10px #000;
    margin: 50px 0;
    padding: 30px;
}

.color-pickers {
     display: flex;
     justify-content: space-between;
     .pick { width: 40px;
    height: 30px;}

    .color-picker-blue{
        .pick:nth-of-type(1){
background-color: #084298 ;
        }
        .pick:nth-of-type(2) {
            background-color: #0a58ca ;
        }
        .pick:nth-of-type(3) {
            background-color: #0d6efd ;
        }
        .pick:nth-of-type(4) {
            background-color:#3d8bfd ;
        }
    }
}

.color-pickers {

    .color-picker-green{
        .pick:nth-of-type(1) {
background-color: #13795b ;
        }
        .pick:nth-of-type(2) {
            background-color: #1aa179 ;
        }
        .pick:nth-of-type(3) {
            background-color: #20c997 ;
        }
        .pick:nth-of-type(4) {
            background-color:#4dd4ac ;
        }
    }
}

.color-pickers {

    .color-picker-purple{
        .pick:nth-of-type(1) {
background-color: #432874 ;
        }
        .pick:nth-of-type(2) {
            background-color: #59359a ;
        }
           .pick:nth-of-type(3) {
            background-color: #6f42c1 ;
        }
        .pick:nth-of-type(4) {
            background-color:#8c68cd;
        }
    }
}

.circle-grey{
    display: flex;
    
    flex-wrap: wrap;
   .circle {
       width: 40px;
       height: 40px;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: 10px;
   margin-right: 10px;

       &:nth-of-type(odd){
           background-color: #b0bec5;

       }
       &:nth-of-type(even){

        background-color: #cfd8dc;
       }
   }

}

.customer-avatar {

    width: 60px;
    height: 60px;
}