
.icon-dashboard:before {
    content: "\e900";
  }
  .icon-activity:before {
    content: "\e901";
  }
  .icon-box:before {
    content: "\e902";
  }
  .icon-calendar:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-cogwheel:before {
    content: "\e905";
  }
  .icon-home:before {
    content: "\e906";
  }
  .icon-home2:before {
    content: "\e907";
  }
  .icon-search:before {
    content: "\e909";
  }
  .icon-dialog:before {
    content: "\e908";
  }
  .icon-notification:before {
    content: "\e90a";
  }